<footer class="site-footer wrapper--ticks">
    <div>
        <a class="site-footer__brand" href="{{@site.url}}">{{@site.title}}</a>
    </div>
    <p class="site-footer__fine">&copy; {{date format="YYYY"}} {{@site.title}}</p>
</footer>
